# Projeto Final - SQL para Análise de Dados

* O  seguinte notebook faz parte do curso SQL para Análise de Dados, como parte do curso de Cientista de Dados da EBAC.

* Temos como objetivo analisar uma base de dados, armazenado no AWS S3, com informações bancárias, visando gerar insights gerais utilizando queries SQL com Amazon Athena.

* Para fazer o carregamento dos dados a partir das queries e criar as visualiações, utilizamos as seguintes bibliotecas:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1 ) Carregamento dos dados:

Inicialmente foi criado um bucket 'ebacprojfinal' utilizando o sistema de armazenamento S3, no qual os dados foram armazenados. Em seguida, criamos uma tabela contendo os dados utilizando o Amazon Athena:

* Código para criação da tabela:

```sql
CREATE EXTERNAL TABLE IF NOT EXISTS default.credito ( 
  `idade` int,
  `sexo` string,
  `dependentes` int,
  `escolaridade` string,
  `estado_civil` string,
  `salario_anual` string,
  `tipo_cartao` string, 
  `qtd_produtos` bigint,
  `iteracoes_12m` int,
  `meses_inativo_12m` int,
  `limite_credito` float,
  `valor_transacoes_12m` float,
  `qtd_transacoes_12m` int 
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'serialization.format' = ',',
  'field.delim' = ','
) LOCATION <sua-localizacao>
TBLPROPERTIES ('has_encrypted_data'='false');
```